<div class="container header">
  <a href="#"><img class="logo_img" src="./images/Logo.png" /></a>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#" class="navigation__link">About us</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Tours</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Gallery</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Contacts</a>
      </li>
    </ul>
  </nav>
  <button
    type="button"
    class="menu-button js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg width="40" height="40" aria-label="переключатель мобильного меню">
      <use
        class="icon-menu js-open-menu"
        href="./images/sprite.svg#icon-menu"
      ></use>
    </svg>
  </button>
</div>
