<div class="tours">
  <h2 class="tours-title">Our tours</h2>
  <ul>
    <li>
      <img class="tours-img" src="./images/tour1.jpg" alt="" />
      <div class="container">
        <h3 class="tours-name">Lake Synevyr and Shipit waterfall</h3>
        <p class="tours-text">
          This very interesting excursion will introduce you to the most
          beautiful lake of the Carpathians "Synevyr", the impressive and
          magical waterfall lake Synevirm "Shypit", which is also located in the
          Ukrainian Carpathians. You will have the opportunity to try Soymivska
          and Kelechynska mineral springs, drinks and delicious dishes of
          Carpathian cuisine and, of course, admire the beautiful scenery of the
          unique Ukrainian Carpathians.
        </p>
        <div>
          <h4>Included:</h4>
          <ul>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-bus"></use>
              </svg>
              Transfer
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-id-card"></use>
              </svg>
              Travel insurance
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-face"></use>
              </svg>
              Professional guide
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-ticket"></use>
              </svg>
              Travel insurance
            </li>
          </ul>
        </div>
        <button class="button tours-booking">Book</button>
      </div>
    </li>

    <li>
      <img class="tours-img" src="./images/tour2.jpg" alt="" />
      <div class="container">
        <h3 class="tours-name">Ancient History & Vibrant Present</h3>
        <p class="tours-text">
          This very interesting excursion will introduce you to the most
          beautiful lake of the Carpathians "Synevyr", the impressive and
          magical waterfall lake Synevirm "Shypit", which is also located in the
          Ukrainian Carpathians. You will have the opportunity to try Soymivska
          and Kelechynska mineral springs, drinks and delicious dishes of
          Carpathian cuisine and, of course, admire the beautiful scenery of the
          unique Ukrainian Carpathians.
        </p>
        <div>
          <h4>Included:</h4>
          <ul>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-bus"></use>
              </svg>
              Transfer
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-id-card"></use>
              </svg>
              Travel insurance
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-face"></use>
              </svg>
              Professional guide
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-ticket"></use>
              </svg>
              Travel insurance
            </li>
          </ul>
        </div>
        <button class="button tours-booking">Book</button>
      </div>
    </li>
    <li>
      <img class="tours-img" src="./images/tour3.jpg" alt="" />
      <div class="container">
        <h3 class="tours-name">Black Sea Jewel</h3>
        <p class="tours-text">
          This very interesting excursion will introduce you to the most
          beautiful lake of the Carpathians "Synevyr", the impressive and
          magical waterfall lake Synevirm "Shypit", which is also located in the
          Ukrainian Carpathians. You will have the opportunity to try Soymivska
          and Kelechynska mineral springs, drinks and delicious dishes of
          Carpathian cuisine and, of course, admire the beautiful scenery of the
          unique Ukrainian Carpathians.
        </p>
        <div>
          <h4>Included:</h4>
          <ul>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-bus"></use>
              </svg>
              Transfer
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-id-card"></use>
              </svg>
              Travel insurance
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-face"></use>
              </svg>
              Professional guide
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-ticket"></use>
              </svg>
              Travel insurance
            </li>
          </ul>
        </div>
        <button class="button tours-booking">Book</button>
      </div>
    </li>
  </ul>
</div>
