.container {
  padding: 0 16px;
  min-width: 320px;
  width: 375px;
  margin: 0 auto;

  @media screen and (min-width: 835px) {
    padding: 0 32px;
    width: 835px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.arrow-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  @media screen and (min-width: 835px) {
    width: 500px;
    padding: 0;
    margin-top: 60px;
  }
  @media screen and (min-width: 1440px) {
    width: 100%;
  }
}
