.container {
  padding: 0 16px;
  min-width: 320px;
  width: 375px;
  margin: 0 auto;

  @media screen and (min-width: 835px) {
    padding: 0 32px;
    width: 835px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}
