.reviews {
  background-image: url(../../images/mobile-review-bg.jpg);
  margin-top: 112px;
}

.reviews-title {
  margin-bottom: 32px;
}

.review-block {
  border: 1px solid #fff;
  padding: 32px 32px;
  margin-bottom: 16px;
}

.arrow-button {
}
//   display: flex;
//   justify-content: space-between;
// }
