.gallery-image {
  border-radius: 4px;
  overflow: hidden;
  display: block;
  width: 100%;
}

@media screen and (min-width: 835px) {
  .gal-arows,
  .rew-arrows {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .gallery-item {
    width: 400px !important;
  }
}

a {
  justify-content: space-between;
}
.next {
  margin-right: 115px;
}
.next,
.prev {
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  .active {
    color: white;
  }
  .block {
    color: #5a5959;
  }
}

.swiper {
  width: 100%;
}
