.header {
  display: flex;
  justify-content: space-between;
}

.logo_img {
  width: 64px;
  height: 46px;
}
.navigation {
  display: none;
}
.navigation__list {
}
.navigation__item {
}
.navigation__link {
}
.menu-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  z-index: 2;
  margin-left: auto;
  &:hover,
  &:focus {
    cursor: pointer;
  }
  @media screen and (min-width: 835px) {
    display: none;
  }
}
.js-open-menu {
}
.icon-menu {
  .menu-button.is-open & {
    display: none;
  }
}
.icon-cross {
  display: none;

  .icon-menu.is-open & {
    display: block;
  }
}
