.header {
  position: absolute;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 30;
}

.navigation__link {
  display: none;
  @media screen and (min-width: 835px) {
    display: inline;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
    gap: 32px;
    color: #fff;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;

  @media screen and (min-width: 835px) {
    display: none;
  }
}

.icon-menu {
  fill: #fff;
  display: block;
  background-color: #fff;
}
// .header__container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: 16px 16px 0;
// }
// .nav__list {
//   display: flex;
//   @media screen and (max-width: 835px) {
//     display: none;
//   }
// }
// .nav__item {
//   &:not(:last-child) {
//     margin-right: 32px;
//   }
//   @media screen and (min-width: 1440px) {
//     &:not(:last-child) {
//       margin-right: 64px;
//     }
//   }
// }
// .nav__link {
//   color: #fff;
//   font-family: "Lato", sans-serif;
//   font-size: 18px;
//   font-weight: 700;
//   line-height: 25.2px;
//   letter-spacing: 0.18px;
// }
// .open-menu {
//   @media screen and (min-width: 835px) {
//     display: none;
//   }
//   display: inline-flex;
//   align-items: center;
//   padding: 0;
//   background-color: transparent;
// }
