.travel {
  background-image: url(../../images/field_bg.jpg);
  background-repeat: no-repeat;
  //   height: 800px;
  //   width: 100%;
  background-size: cover 800px;
  padding-top: 94px;
  padding-bottom: 93px;
}
.input {
  width: 100%;
}
