<div class="container reviews">
  <h2 class="reviews-title">Reviews</h2>
  <div class="review-block">
    <img src="./images/dmytro.png" alt="" />
    <p>
      It was an incredible trip and I am very grateful to the organizers for the
      opportunity to learn more about our country
    </p>
  </div>
  <svg class="arrow-button" width="114">
    <use href="./images/sprite.svg#icon-arrow-left"></use>
  </svg>
  <svg class="arrow-button" width="114">
    <use href="./images/sprite.svg#icon-arrow-right"></use>
  </svg>
</div>
