<div class="container travel">
  <h2>Start travel</h2>
  <p>
    If you want to get an unforgettable trip, quickly fill out the application
    and we will contact you during the day
  </p>
  <p>We are ready to answer any questions and help choose the best tour</p>
  <form action="">
    <label>
      Name
      <input
        type="email"
        name="email"
        placeholder="Enter your name"
        class="input"
      />
    </label>

    <label>
      Phone
      <input
        type="tel"
        name="tel"
        placeholder="+380__-___-___-__"
        class="input"
      />
    </label>

    <input
      type="password"
      name="password"
      placeholder="Your message"
      class="input"
    />

    <button type="submit">Send</button>
  </form>
</div>
